{{range $fmt, $type := .Formats}}
const (
{{- range .}}
{{- range $var, $str := .}}
	{{$fmt}}{{$var}} = "{{$str}}"
{{- end}}
{{- end}}
)

func (ts Stamp) {{$fmt}}Fmt() string {
	switch ts {
{{- range .}}
{{- range $var, $str := .}}
	case {{$var}}: 
		return {{$fmt}}{{$var}}
{{- end}}
{{- end}}
	}
	return ""
}
{{end}}
